<%= form_with(model: post, builder: Skrw::FormBuilder, local: true) do |form| %>

  <%= form.field :title, "Title" do %>
    uhuh
    <%= form.text_field :title %>
  <% end %>

  <%= form.submit %>
<% end %>
