<%= form_with url: sessions_path, method: :post, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Login" %>
<% end %>
