<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>

    <% content_for :skrw_dashboard do %>
      <%= link_to "Posts", main_app.posts_path %>
    <% end %>

    <%= skrw_dashboard %>

    <%= yield %>
  </body>
</html>
