<% options = options.deep_merge({ class: "skrw skrw-dashboard", 
  data: { controller: "skrw-dashboard" } }) { |k, o, n| "#{o} #{n}".strip } %>

<%= content_tag :div, options do %>

  <div>
    <div class="skrw-dashboard__user">
      <% if current_user %>
        <span><%= current_user.email %></span>

        <% if current_user.last_login_at %>
          <span>last login: <%= skrw_formatted_date(current_user.last_login_at) %></span>
        <% end %>

        <%= link_to "logout", skrw.destroy_session_path, method: :post %>
      <% end %>
    </div>

    <% if breadcrumb_trail.any? %>
      <div class="skrw-dashboard__breadcrumbs">
        <ul class="--inline">
          <% breadcrumb_trail do |crumb| %>
            <li>
              <%= link_to crumb.name, crumb.url, 
                class: crumb.current? ? "--current" : nil %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= content_tag :div, class: "skrw-dashboard__content" do %>
      <%= content_for :skrw_dashboard %>
    <% end %>
  </div>
<% end %>
