<% if flash.any? %>
  <div class="skrw skrw-flash" data-controller="skrw-flash">
    <ul>
      <% flash.each do |key, value| %>
        <li class="skrw-flash__<%= key %>"><%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>
