<div class="skrw skrw-page">
  <%= form_with url: skrw.create_session_path, method: :post, local: true, 
        builder: Skrw::FormBuilder do |form| %>
        
    <%= form.field :email, "Email", class: "sm:skrw-flex-grow sm:skrw-mr-4" do %>
      <%= form.email_field :email, autofocus: true %>
    <% end %>

    <%= form.field :password, "Password", class: "sm:skrw-flex-grow sm:skrw-mr-4" do %>
      <%= form.password_field :password %>
    <% end %>

    <%= form.field :remember, "Remember me?", class: "sm:skrw-mr-4" do %>
      <%= form.check_box :remember %>
    <% end %>

    <div>
      <%= form.submit "login" %>
    </div>
  <% end %>
</div>
